

    
      <ion-content  style="background-color:  #D1DFFD"  >
      <div class="image" >
       <img src="img/unnamed.png" style="margin-top:150px; margin-left:140px ;height:100px;" >
       <h1 style="text-align:center; padding-bottom:30px"> I-notify</h1>
      </div >
       <div class="card">
         <h4 style="text-align:center"> Please log in or sign up
         </h4>
        
 	 		<!--	<button class="button button-block button-large button-light"  ng-click="login()"> 
						Already have an account?
 	 			</button>-->
					  <ion-item 
						style="text-align:center;padding-left:2em" 
						menu-close href="#/app/login" >
           		Log in
        		</ion-item>
             <ion-item 
						style="text-align:center;padding-left:2em" 
						menu-close href="#/app/register" >
           		Sign up
        		</ion-item>
		</div>
    <!--  <div class="list" style="background-color:  #D1DFFD">
          <ion-list >
         <ion-item menu-close href="#/app/register">
            <h2 style="text-align:center;height:25px;padding-left:31px "> Sign up</h2>
      
        </ion-item>
        <ion-item menu-close ng-click="login()">
            <h2 style="text-align:center; height:28px;"> Log in</h2>
        </ion-item>
          </ion-list>
      </div>-->
     <!--
        <ion-item menu-close href="#/app/register" > 
              
                <button class="button button-block button-light">Sign up</button>
       
         </ion-item>
           <ion-item menu-close ng-click="login()" >
           <button class="button button-block button-light">Log in</button>
             
        </ion-item>-->
     <!-- <div class="list" ng-if="!islogin">
        <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" id="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" id="user.password">
            </label>
            <label class="item">
              <button class="button button-block button-positive"  ng-click="doLogin()">Log in</button>
            </label>
        </div>
        <div class="bar bar-footer">
            <div class="title"><a href="app/register.html" ng-click="doLogin()">
            Sign up for Inotify </a>
            </div>
          </div>
      </div>-->
      </ion-content>
   
    
