
<ion-view view-title = "Edit Profile">
	<ion-content ng-controller="profileCtrl">
   
	
		<div class="table1">
            <input type="hidden" ng-model="user.userid">
		  <label class="item item-input">
			<span class="input-label">First name</span>
			<input type="text"   ng-model="user.firstname">
		  </label>
		   <label class="item item-input">
			<span class="input-label">Last name</span>
			<input type="text"   ng-model="user.lastname">
		  </label>
		  <label class="item item-input">
			<span class="input-label">E-mail</span>
			<input type="text" ng-model="user.email">
		  </label>
          <label class="item item-input">
			<span class="input-label">Username</span>
			<input type="text"   ng-model="user.username">
		  </label>
          <label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password"  ng-model="user.password">
		  </label>
          <label class="item item-input">
			<span class="input-label">Confirm Password</span>
			<input type="password"  ng-model="user.cpass">
		  </label>
		 
        
         <button class="button button-full button-positive" ng-click="save(user)">
			  Save
			</button>
          
      </div>
    </form>  
</ion-modal-view>
